body {
  margin: 0;
}

.full-site-width {
  max-width: 1400px;
  margin: 0 auto;
}
.header__container {
  height: 3em;
  display: flex;
  line-height: 3em;
}
.header__text {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
.header__logo {
  margin-left: 1em;
  color: #d2232a;
  font-weight: bold;
}
.nav__container {
  background-color: rgba(210, 35, 42, 0.1);
}

.nav--top {
  height: 5em;
  line-height: 5em;
  margin-bottom: 2em;
}
.nav--top > a {
  text-decoration: none;
  margin: 0 0 0 1em;
  color: black;
}
.main-content--container {
  display: flex;
  margin-bottom: 4em;
}
.main-content__sidebar {
  width: 10em;
  margin: 3.67em 1em 0 1em;
  padding: 1em;
}
.main-content__sidebar > a {
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
  color: black;
}
.main-content--content {
  flex: 1;
  max-width: 50em;
}
.edit__container {
  float: right;
  display: flex;
  justify-content: center;
  opacity: 0.4;
}
.edit__image {
  height: 1em;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

footer {
  background-color: grey;
  width: 100%;
  position: fixed;
  height: 2em;
  line-height: 2em;
  left: 0;
  bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
}
