body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  margin-top: 0;
}
a,
a:visited {
  color: black;
}
a.active {
  font-weight: bold;
}

.primary {
  color: #d2232a;
}

.main-content__sidebar > a > span.active {
  font-weight: bold;
}
.main-content__sidebar > a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: gray;
}
.sidebar__link--coming-soon {
  font-style: italic;
}
.sidebar__subsection__link {
  padding-left: 10px;
}

/* when images are floated and are taller than text we want to limit the next section starting alongside the same image */
.page.Introduction > h3,
.page.Introduction > h2 {
  clear: both;
}
