<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="
    {{
      "/assets/css/typography.css" | relative_url
    }}
    " /> <link rel="stylesheet" type="text/css" href="
    {{
      "/assets/css/layout.css" | relative_url
    }}
    " />
  </head>
  <body>
    <header>
      <div class="header__container full-site-width">
        <div class="header__logo">Stats4SD</div>
        <div class="header__text">Data Flow Toolkit</div>
      </div>
    </header>
    <nav class="nav__container">
      <div class="nav--top full-site-width">
        {% for section in site.data.pagesMeta.sections %}
        <a
          href="{{ section.startUrl | relative_url }}"
          alt="{{ section.title }}"
          >{{ section.title }}</a
        >
        {% endfor %}
      </div>
    </nav>
    <div class="main-content--container full-site-width">
      <nav class="main-content--sidebar">
        {% for sectionPage in site.data.pagesMeta.sectionPages[page.section] %}
        {% if sectionPage.disabled %}
        <a href="#" alt="page coming soon" class="disabled">
          <div>{{ sectionPage.title }}</div>
          <div class="sidebar__link--coming-soon">coming soon</div>
        </a>
        {% else %}
        <a
          href="{{ sectionPage.url | relative_url }}"
          alt="{{ sectionPage.title }}"
        >
          <span class="{% if sectionPage.title==page.title %}active{% endif %}">
            {{ sectionPage.title }}
          </span>
        </a>
        {% endif %} {% endfor %}
      </nav>
      <div class="main-content--content">
        <div style="float:right">
          <a
            target="_blank"
            href="{{ site.github.repository_url }}/tree/master/{{page.path}}"
            >Edit on GitHub</a
          >
        </div>
        <div>{{ content }}</div>
      </div>
    </div>
    <footer>
      <div style="margin-left:1em">Statistics for Sustainable Development</div>
      <div style="margin-right:1em">v1.0.0</div>
    </footer>
  </body>
</html>
